# Core
fastapi
uvicorn
pydantic
python-dotenv

# Database
sqlalchemy

# File handling
pypdf
pillow
pytesseract

# Vector DB & RAG
faiss-cpu
langchain
langchain-community

# LLM Providers
langchain-cohere
langchain-openai
langchain-google-genai

# Frontend
streamlit
requests

# Utils
tqdm
